.App {
  text-align: center;
}

/* these need some work */

.post {
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 3rem;
}


.feed {
    width: 50%;
    margin: auto;
}
